.App{
  background-color: rgb(20, 20, 20);
  color: rgb(252, 252, 252);
  height: 2000px; /* test height, so I can see how it displays on the screen*/
}
.sphere{
  background-color: rgb(20, 20, 20);
  width: 20px;
  height: 20px;
  border: white solid 4px;
  border-radius: 50%;
}
h2{
  display: flex;
}
.white{
  background-color: rgb(252, 252, 252);
  width: 20px;
  height: 20px;
  border: white solid 4px;
  border-radius: 50%;
}
