@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://use.fontawesome.com/releases/v6.1.1/css/all.css');

@font-face {
  font-family: 'Exo 2';
  src: url('./assets/fonts/Exo2-VariableFont_wght.ttf');
}

@layer components {
  .exo-2 {
    font-family: 'Exo 2';
  }
  .button {
    @apply font-bold py-2 px-4 rounded;
  }
  .button-green {
    @apply bg-green-700;
  }
  .image-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .item-title {
    font-size: 31px;
    font-weight: bold;
  }
  .item-text {
    font-size: 20px;
  }
  .item {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 280px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
