@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://use.fontawesome.com/releases/v6.1.1/css/all.css');

@font-face {
  font-family: 'Exo 2';
  src: url('./assets/fonts/Exo2-VariableFont_wght.ttf');
}

@layer components {
  .exo-2 {
    font-family: 'Exo 2';
  }
}
