a{
    text-decoration: none;
}
img{
    width: 60px;
}

@media (max-width: 768px) {
    /*I should try and make a dropdown for the navigation*/
    header{
        flex-direction: column;
        align-items: center;
    }
}